body {
  background-color: #B3CBB9;
}

.jumbotron {
  text-align: center;
  background-color: #DDD8B8;
}

.flash {
  color: #542E71;
}

.profilepic {
  max-width: 40%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hobbypic {
  max-width: 100%;
}